* {
margin: 0;
padding: 0;
}

header {
background-color: rgb(192, 24, 80);
}

#navbar {
display: flex;
width: 40%;
justify-content: space-around;
list-style-type: none;
text-transform: uppercase;  
padding-bottom: 1%;
font-size: 18px;
color: whitesmoke;
}

.categories {
margin-top: 10%;
cursor: pointer;
text-decoration: none;
} 

li {
padding: 10px;
border-radius: 5px;
font-family: 'Lora', serif;
font-style: italic ;
}

ul li a {
text-decoration: none;  
}

a {
padding: 10px;
border-radius: 5px;
transition: 0.12s ease-in-out;
}

li a:hover {
background-color: whitesmoke;
color: rgb(192, 24, 80); 

}
a:hover {
color: rgb(192, 24, 80);
}

a:visited {
color: whitesmoke;
} 

#slidercon{
display: flex;
justify-content: center;
height: 75vh;
width: 98vw;
}

#slider{
width: 78vw;
margin-top: 1%;
background-image: url("../Media/phone1bg.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
animation: slide 20s infinite ease-in-out;
}

@keyframes slide {
0%{background-image: url("../Media/phone1bg.jpg");}
20%{background-image: url("../Media/phonebg2.jpg");}
40%{background-image: url("../Media/phonebg3.jpg");}
60%{background-image: url("../Media/phonebg4.jpg");}
80%{background-image: url("../Media/phonebg5.jpg");}
100%{background-image: url("../Media/phone1bg.jpg");}
}

@media only screen and (max-width: 550px){
#slidercon{
height: 31vh;
width: 100vw;
}

#slider {
width: 99vw;
}

}

@media only screen and (min-width: 551px) and (max-width: 630px) {
#slidercon {
height: 42vh;
width: 98vw;
}
#slider {
margin-left: 2%;
width: 98vw;
}

}

@media only screen and (min-width: 630px) and (max-width: 800px) {
#slidercon {
height: 58vh;
width: 98vw;
}

#slider {
margin-left: 2%;
width: 98vw;
}
 
}

@media only screen and (min-width: 801px) and (max-width:1025px) {
#slidercon {
height: 65vh;
width: 98vw;
}

#slider {
margin-left: 2%;
width: 98vw;
}
   
}

.phonescontainer {
width: 18%;
font-family: 'Karla', sans-serif;
max-height: 5%;
text-align: center;
border-radius: 5px;
padding: 3px;
margin-top: 3%;
}

#contphones1 {
display: flex;
justify-content: space-evenly;
margin-top: 3%;   
}

#contphones2 {
display: flex;
justify-content: space-evenly;     
}

#contphones3 {
display: flex;
justify-content: space-evenly ;
}

.phonepics {
width: 100%;
height: 30%;
border-radius: 5px;
margin-top: 1%;
}

.addbtn {
padding: 10px;
border-radius: 5px;
border-color: rgb(192, 24, 80);
color:  rgb(192, 24, 80);
border-width: 3px;
background-color: white;
cursor: pointer;
transition: 0.1s ease-in-out;
}

.addbtn:hover {
background-color:  rgb(192, 24, 80);
color: whitesmoke;
}

footer {
display: flex;
justify-content: space-evenly;  
background-color: rgb(192, 24, 80);
}

.rows {
display: flex;
align-content: space-around ;
align-items: center;
width: 20%;
flex-direction: column;
margin-top: 2%;
padding-bottom: 4%;
color: whitesmoke;
font-family: 'Lora', serif;
font-style: italic ;
}





@media only screen and (max-width: 600px) {
#navbar {
width: 100%;
font-size: 11px;
}

.categories {
transition: 0.05ms ease-in-out; 
} 

.phonescontainer{
width: 100%;
font-size: 15px;
}

#contphones1 {
flex-direction: column;
align-items: center;  
}

#contphones2 {
margin-top: 15%;
flex-direction: column;
align-items: center;
}

#contphones3{
margin-top: 15%;
flex-direction: column;
align-items: center;
}

.phonepics {
width: 95%;
}

.addbtn {
font-size: 12px;
}

footer {
margin-top: 10%;
}

.rows {
width: 22%;
font-size: 12px;
}

}





@media only screen and (min-width: 601px) and (max-width: 769px) {
#navbar {
width: 100%;
font-size: 22px;
}

.phonescontainer{
width: 95%;
font-size: 25px;
}

#contphones1 {
flex-direction: column;
align-items: center;
margin-top: 3%;   
}

#contphones2 {
align-items: center;
flex-direction: column;
}

#contphones3{
margin-top: 15%;
flex-direction: column;
align-items: center;
}

.phonepics {
width: 100%;
}

.addbtn {
font-size: 18px;
}

footer {
margin-top: 10%;
}

.rows {
width: 20%;
font-size: 18px;
}

}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
#navbar {
width: 100%;
font-size: 22px;
}

.categories {
transition: 0.05ms ease-in-out;
} 

.phonescontainer{
width: 95%;
font-size: 22px;
}

#contphones1 {
flex-direction: column;
align-items: center;
margin-top: 3%;   
}

#contphones2 {
align-items: center;
flex-direction: column;
}

#contphones3{
margin-top: 15%;
flex-direction: column;
align-items: center;
}

.phonepics {
width: 100%;
}

.addbtn {
font-size: 22px;
}

footer {
margin-top: 10%;
}

.rows {
width: 20%;
font-size: 23px;
}

}